.bg-img1 {
  background-color: #000;
  width: 100%;
  height: 600px;
  background-size: cover;

  background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  width: 100%;
  height: 600px;
  background-image: url(https://rare-gallery.com/uploads/posts/548490-nature-wallpaper.jpg);
}

.bg-img3 {
  background-color: #000;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url(https://chrismartinphotography.files.wordpress.com/2013/01/2012-landscapes-c2a9-christopher-martin-93441.jpg);
}
